<p class="w-7 h-7">
<% if @prev != 0 %>
  <%= link_to root_path(page: @prev), id: "btn-prev", remote: true do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
  <% end %>
<% end %>
</p>
<p class="w-7 h-7">
<%= link_to root_path(page: @next), id: "btn-next", remote: true do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
  </svg>
<% end %>
</p>
