<% provide(:title, "Best Hacker News") %>

<div class="text-center mt-10">
  <div class="inline-flex flex-col space-y-4 justify-end p-4 bg-white shadow rounded-lg mx-auto">
    <div class="inline-flex justify-start py-0.5">
      <p class="text-xl flex-1 font-semibold leading-7 text-left inline">#Articles list</p>
      <p class="h-5 w-5 inline">
      <%= link_to sync_data_path, :onclick => 'document.getElementById("sync-icon").classList.add("animate-spin")' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="sync-icon">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
      <% end %>
      </p>
    </div>
    <div class="container flex mx-auto w-auto items-center justify-center">
      <ul class="flex flex-col p-4 md:w-screen sm:w-128" id="articles_table">
        <%= render partial: "article_item", collection: @articles, :as => :article , cached: true %>
      </ul>
    </div>
    <div class="flex flex-row justify-between py-0.5" id="next_prev_link">
      <%= render partial: 'next_prev_link' %>
    </div>
    <div class="hidden" id="loading_page">
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-purple-400 h-12 w-12"></div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-purple-400 rounded w-3/4"></div>
          <div class="space-y-2">
            <div class="h-4 bg-purple-400 rounded"></div>
            <div class="h-4 bg-purple-400 rounded w-5/6"></div>
          </div>
        </div>
      </div>
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-purple-400 h-12 w-12"></div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-purple-400 rounded w-3/4"></div>
          <div class="space-y-2">
            <div class="h-4 bg-purple-400 rounded"></div>
            <div class="h-4 bg-purple-400 rounded w-5/6"></div>
          </div>
        </div>
      </div>
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-purple-400 h-12 w-12"></div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-purple-400 rounded w-3/4"></div>
          <div class="space-y-2">
            <div class="h-4 bg-purple-400 rounded"></div>
            <div class="h-4 bg-purple-400 rounded w-5/6"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
